#root {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: #EEEFDB;
}

.mpc {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  width: 40%;
  height: 60%;
}

.display {
  width: 100%;
}

.drum-pad {
  width: 30%;
  height: 24%;
}